<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="LOGBACK_HOME" value="/Users/mumu/project/sframe/log/sframe_log" />

	<!-- to console -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%thread|%-5level|%logger{80}|%method|%line -> %msg%n</pattern>
		</encoder>
	</appender>

	<!-- log output to file  -->
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGBACK_HOME}/sframeLog.nl</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOGBACK_HOME}/sframeLog_%d{yyyy-MM-dd}.nl.%i</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%thread|%-5level|%logger{80}|%method|%line -> %msg%n</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>

	<!-- root -->
	<root level="INFO">
		<appender-ref ref="stdout"/>
		<appender-ref ref="rollingFile"/>
	</root>

</configuration>